In [90]:
import pandas as pd
import numpy as np
from tqdm import tqdm
# remember to install the library: pip install scraperapi-sdk
from scraper_api import ScraperAPIClient
from bs4 import BeautifulSoup
tqdm.pandas()

# Get raw message

In [23]:
import boto3
from tqdm import tqdm
from io import StringIO

def setup_dynamodb(table_name):
    session = boto3.Session(
        aws_access_key_id='AKIA4J6QPG3C6QWXLET7',
        aws_secret_access_key='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')

    dynamodb = session.resource('dynamodb', region_name='us-east-1')
    table = dynamodb.Table(table_name)
    return table


def get_rows(table):
    rows = []
    scan_kwargs = {}
    done = False
    start_key = None
    with tqdm(total=table.item_count) as pbar:
        while not done:
            items = table.scan(**scan_kwargs)
            rows = rows + items['Items']
            start_key = items.get('LastEvaluatedKey', None)
            scan_kwargs['ExclusiveStartKey'] = start_key
            done = start_key is None
            pbar.update(len(items['Items']))
    return rows

In [165]:
lead_table = setup_dynamodb('Leads')
leads = get_rows(lead_table)
leads_df = pd.DataFrame(leads)

60342it [01:39, 604.88it/s]

In [184]:
leads_target_df = leads_df[['link', 'make', 'model', 'trim', 'status','source']]
leads_target_df = leads_target_df[leads_target_df['status'] == 'NO_MMR']
leads_target_df = leads_target_df[leads_target_df['source'] == 'CRAIGSLIST']
leads_target_df

,link,make,model,trim,status,source
2,https://sfbay.craigslist.org/pen/cto/d/mountai...,Vw,NaN,NaN,NO_MMR,CRAIGSLIST
5,https://sandiego.craigslist.org/csd/cto/d/teme...,subaru,legacy outback xt,NaN,NO_MMR,CRAIGSLIST
9,https://lasvegas.craigslist.org/cto/d/north-la...,ford,f-150,NaN,NO_MMR,CRAIGSLIST
10,https://sandiego.craigslist.org/csd/cto/d/phoe...,chrysler,crossfire roadster,NaN,NO_MMR,CRAIGSLIST
12,https://losangeles.craigslist.org/lgb/cto/d/lo...,chevrolet,spark,NaN,NO_MMR,CRAIGSLIST
...,...,...,...,...,...,...
60328,https://orangecounty.craigslist.org/cto/d/oran...,ford,f350 super duty,NaN,NO_MMR,CRAIGSLIST
60331,https://lasvegas.craigslist.org/cto/d/las-vega...,mercedes,benz sl500,NaN,NO_MMR,CRAIGSLIST
60337,https://losangeles.craigslist.org/sgv/cto/d/on...,toyota,tundra tss,NaN,NO_MMR,CRAIGSLIST
60339,https://sandiego.craigslist.org/ssd/cto/d/el-c...,Toyota,Tacoma,NaN,NO_MMR,CRAIGSLIST
60340,https://sandiego.craigslist.org/csd/cto/d/san-...,Mercedes,Benz SL 550,NaN,NO_MMR,CRAIGSLIST

In [194]:
temp = leads_target_df.groupby('make', sort=True).size().sort_values(ascending=False)
temp

make
ford                       1645
bmw                        1127
toyota                      955
mercedes                    702
honda                       662
                           ...
NABI                          1
NISSAN-JUKE-SPORTY-AUTO       1
Nascar                        1
Nessan                        1
Mercdes-benz                  1
Length: 550, dtype: int64

In [214]:
def get_posting(*url):
    client = ScraperAPIClient('19d30687438fd111714f241cdac8d37e')
    list_of_urls = url
    NUM_RETRIES = 3
    scraped_quotes = []
    for url in list_of_urls: 
        response = client.get(url=url, retry=NUM_RETRIES)

        ## parse data if 200 status code (successful response)
        if response.status_code == 200:
            ## Example: parse data with beautifulsoup
            html_response = response.text
            soup = BeautifulSoup(html_response, "html.parser")
            try:
                posting_body = soup.find(id="postingbody").text
                posting = posting_body.replace('\n\nQR Code Link to This Post\n\n\n', '').replace('\nshow contact info\n','')
                attr_group = soup.find_all("p", "attrgroup")
                attr =  "".join((str(attr) for attr in [attr.text.strip() for attr in attr_group])).replace('\n\n',' ')
                return posting, attr
            except AttributeError:
                print('Deleted')
                return None, None
            except:
                print('Other issues')
                return None, None
            
# get_posting('https://phoenix.craigslist.org/wvl/cto/d/youngtown-2008-nissan-xterra-v6/7376121977.html')

In [215]:
# leads_target_df['posting'] =  leads_target_df['link'].progress_apply(get_posting)
copy_df = leads_target_df.head(50)

In [216]:
copy_df['posting'], copy_df['attr'] = zip(*copy_df['link'].progress_apply(get_posting))

  4%|▍         | 2/50 [00:04<01:57,  2.44s/it]

Deleted

  6%|▌         | 3/50 [00:08<02:14,  2.86s/it]

Deleted

  8%|▊         | 4/50 [00:09<01:50,  2.39s/it]

Deleted

 12%|█▏        | 6/50 [00:15<01:51,  2.54s/it]

Deleted

 14%|█▍        | 7/50 [00:16<01:32,  2.16s/it]

Deleted

 20%|██        | 10/50 [00:27<01:59,  2.98s/it]

Deleted

 24%|██▍       | 12/50 [00:33<01:47,  2.83s/it]

Deleted

 30%|███       | 15/50 [00:38<01:18,  2.24s/it]

Deleted

 44%|████▍     | 22/50 [01:11<02:29,  5.34s/it]

Deleted

 52%|█████▏    | 26/50 [01:31<02:09,  5.38s/it]

Deleted

 54%|█████▍    | 27/50 [01:31<01:30,  3.92s/it]

Deleted

 56%|█████▌    | 28/50 [01:37<01:37,  4.43s/it]

Deleted

 60%|██████    | 30/50 [01:40<00:57,  2.88s/it]

Deleted

 64%|██████▍   | 32/50 [03:00<07:17, 24.31s/it]

Deleted

 66%|██████▌   | 33/50 [04:01<10:01, 35.36s/it]

Deleted

 68%|██████▊   | 34/50 [05:27<13:27, 50.49s/it]

Deleted

 76%|███████▌  | 38/50 [06:53<06:02, 30.19s/it]

Deleted

 86%|████████▌ | 43/50 [08:00<01:26, 12.37s/it]

Deleted

 90%|█████████ | 45/50 [08:03<00:35,  7.03s/it]

Deleted

 92%|█████████▏| 46/50 [08:04<00:20,  5.08s/it]

Deleted

 94%|█████████▍| 47/50 [08:10<00:15,  5.28s/it]

Deleted

 96%|█████████▌| 48/50 [08:11<00:08,  4.10s/it]

Deleted

 98%|█████████▊| 49/50 [08:16<00:04,  4.39s/it]

Deleted

100%|██████████| 50/50 [08:17<00:00,  3.46s/it]

Deleted

100%|██████████| 50/50 [08:18<00:00,  9.97s/it]
<ipython-input-216-3d4e9e4c5936>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  copy_df['posting'], copy_df['attr'] = zip(*copy_df['link'].progress_apply(get_posting))

In [219]:
copy_df = copy_df.dropna(subset = ['posting'])

In [221]:
copy_df.to_csv('raw_sample.csv', index=False)
copy_df

,link,make,model,trim,status,source,posting,attr
10,https://sandiego.craigslist.org/csd/cto/d/phoe...,chrysler,crossfire roadster,NaN,NO_MMR,CRAIGSLIST,Chrysler Crossfire Roadster. 8000 Miles2006 Ch...,2006 chrysler crossfire roadstercondition: lik...
17,https://sandiego.craigslist.org/csd/cto/d/san-...,Lexus,RX 350,NaN,NO_MMR,CRAIGSLIST,"-Original Owner\n-Low Mileage (32,825)\n-Like ...",2017 Lexus RX 350condition: like new cylinders...
18,https://sfbay.craigslist.org/eby/cto/d/cedar-r...,mini,cooper s,NaN,NO_MMR,CRAIGSLIST,2017 Mini Cooper S – Convertible Like New\njus...,2017 mini cooper scondition: like new cylinder...
27,https://sfbay.craigslist.org/nby/cto/d/petalum...,Honda,Fit Ex,NaN,NO_MMR,CRAIGSLIST,I’m selling my wonderful Fit. It’s hard to fin...,2017 Honda Fit Excondition: excellent cylinder...
33,https://losangeles.craigslist.org/sfv/cto/d/ta...,ford,f-350 super duty,NaN,NO_MMR,CRAIGSLIST,Hello \nMy name is Mike\nPhone # (714)720-410t...,2009 ford f-350 super dutycondition: like new ...
37,https://losangeles.craigslist.org/lac/cto/d/va...,mitsubishi,fuso box truck,NaN,NO_MMR,CRAIGSLIST,160000 millas\nTítulo limpio\nPlacas al día\nC...,2008 mitsubishi fuso box truckcondition: good ...
42,https://sandiego.craigslist.org/nsd/cto/d/carl...,Nissan,Leaf S,NaN,NO_MMR,CRAIGSLIST,Original Lease Owner of this well kept Full El...,2018 Nissan Leaf Scondition: like new cylinder...
60,https://sandiego.craigslist.org/esd/cto/d/el-c...,ford,f-150 platinum 4x4,NaN,NO_MMR,CRAIGSLIST,ford f-150 platinum crew cab 4x4 if you are lo...,2015 ford f-150 platinum 4x4condition: excelle...
63,https://sandiego.craigslist.org/nsd/cto/d/vist...,Ford,F350 XLT,NaN,NO_MMR,CRAIGSLIST,"2017 Ford F350 Diesel for sale. 6.7L Diesel, C...",2017 Ford F350 XLTcondition: excellent cylinde...
76,https://lasvegas.craigslist.org/cto/d/las-vega...,Sterling,COE S/A,NaN,NO_MMR,CRAIGSLIST,"I have a 2008 Mitsubishi Sterling 14ft 4 cyl, ...",2008 Sterling COE S/Acondition: good fuel: die...
77,https://orangecounty.craigslist.org/cto/d/sant...,2012,chevrolet silverado,NaN,NO_MMR,CRAIGSLIST,200k+ Miles \n34’ Cooper Tires\n305/70/17\nTra...,2012 2012 chevrolet silveradodrive: rwd fuel: ...
80,https://sandiego.craigslist.org/ssd/cto/d/san-...,gmc,sierra denali,NaN,NO_MMR,CRAIGSLIST,2020 GMC SIERRA DENALI 4X4 ENGINE 6.2 AUTOMAT...,2020 gmc sierra denalifuel: gas odometer: 9500...
89,https://phoenix.craigslist.org/evl/cto/d/chand...,2005,Chrysler 300c Hemi,NaN,NO_MMR,CRAIGSLIST,"2006 Chrysler 300C..HEMI..5.7L HEMI , engine ....",2006 2006 Chrysler 300c Hemicondition: excelle...
90,https://sfbay.craigslist.org/sby/cto/d/san-mat...,2012,volkswagen tiguan,NaN,NO_MMR,CRAIGSLIST,2012 Volkswagen Tiguan\n\n149k miles (mostly h...,2012 2012 volkswagen tiguancondition: excellen...
96,https://sfbay.craigslist.org/eby/cto/d/fremont...,bmw,335i,NaN,NO_MMR,CRAIGSLIST,"Runs great , I am the second owner . No issues...",2008 bmw 335icondition: excellent fuel: gas od...
103,https://sfbay.craigslist.org/sby/cto/d/san-jos...,nissan,titan sv,NaN,NO_MMR,CRAIGSLIST,Selling Nissan Titan SV\nWell taken care of\nN...,2011 nissan titan svcondition: excellent cylin...
110,https://losangeles.craigslist.org/sfv/cto/d/lo...,infiniti,g37s,NaN,NO_MMR,CRAIGSLIST,They don’t make em like this anymore! Aggressi...,2008 infiniti g37scondition: good cryptocurren...
128,https://sandiego.craigslist.org/esd/cto/d/el-c...,2019,Toyota corolla LE,NaN,NO_MMR,CRAIGSLIST,. 2009 Toyota corolla LE clean title. Registra...,2009 2019 Toyota corolla LEcondition: excellen...
137,https://losangeles.craigslist.org/lac/cto/d/sa...,2012,VOLKWAGEN GOLF R,NaN,NO_MMR,CRAIGSLIST,Up for sale is a gorgeous 2012 VW Golf R Turbo...,2012 2012 VOLKWAGEN GOLF Rfuel: gas odometer: ...
140,https://losangeles.craigslist.org/sfv/cto/d/bu...,2012,dodge ram 3500,NaN,NO_MMR,CRAIGSLIST,2012 dodge ram 3500 dually limited \n\n\n13012...,2012 2012 dodge ram 3500condition: excellent f...
144,https://losangeles.craigslist.org/sfv/cto/d/ca...,Audi,A4 2015,NaN,NO_MMR,CRAIGSLIST,"Audi A4, 2015, great condition. Serious inquir...",2015 Audi A4 2015condition: excellent cylinder...
147,https://losangeles.craigslist.org/lgb/cto/d/do...,toyota,tundra 2006,NaN,NO_MMR,CRAIGSLIST,For Sale 2006 Toyota Tundra SR5 V8 Cyl 4.7L En...,2006 toyota tundra 2006condition: good cylinde...
148,https://sfbay.craigslist.org/sby/cto/d/sunnyva...,honda,element ex awd,NaN,NO_MMR,CRAIGSLIST,"Great vehicle for family.Very well maintained,...",2007 honda element ex awdcondition: excellent ...
155,https://losangeles.craigslist.org/lac/cto/d/lo...,bmw,328i sedan,NaN,NO_MMR,CRAIGSLIST,\n2009 BMW 328i SULEV \nREBUILT WNGINE \nRUNS ...,2009 bmw 328i sedancylinders: 6 cylinders fuel...
160,https://sandiego.craigslist.org/csd/cto/d/la-m...,audi,a4 2.0t,NaN,NO_MMR,CRAIGSLIST,"Selling our 2010 Audi A4.\n\nClean car, my son...",2010 audi a4 2.0tcondition: good cylinders: 4 ...
182,https://losangeles.craigslist.org/lgb/cto/d/lo...,chevy,volt,NaN,NO_MMR,CRAIGSLIST,I’m finally moving back to my home state of MN...,2013 chevy voltfuel: hybrid odometer: 118000 t...

In [225]:
copy_df.to_json('raw_sample.jsonl', orient='records', lines=True)

# Make/Model/Trim

In [6]:
vehicle_combo_df = pd.read_csv("price-model_data_input-feature.csv")

In [9]:
vehicle_combo_df = vehicle_combo_df[['make', 'model', 'trim']]

In [18]:
vehicle_combo_df = vehicle_combo_df.drop_duplicates(subset=['make', 'model', 'trim'])

In [22]:
vehicle_combo_df.to_csv('vehicle_combo.csv', index=False)